<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>
  <body>

    <div id="app" class="container"></div>

    <script type="text/template" id="app-template3">
      <div class="row">
        <div class="col-xs-12">
            <h1 >Concertina</h1>
        </div>
      </div>

      <div class="row">

        <div class="col-xs-6">
          <div class="row push-keys">
            <div class="col-xs-12">
              <h2>Fechando</h2>
            </div>
            <div class="left-hand col-xs-6">
              <% for(var i = 0; i < push.leftHand.length; i++) { %>
                <p>
                <% for(var j = 0; j < push.leftHand[i].length; j++) { %>
                  <a href="#" class="midi-<%= keys[push.leftHand[i][j]] %> btn btn-default">
                    <%= push.leftHand[i][j] %>
                  </a>
                <% } %>
                </p>
              <% } %>
            </div>
            <div class="right-hand col-xs-6">
              <% for(var i = 0; i < push.rightHand.length; i++) { %>
                <p>
                <% for(var j = 0; j < push.rightHand[i].length; j++) { %>
                  <a href="#" class="midi-<%= keys[push.rightHand[i][j]] %> btn btn-default">
                    <%= push.rightHand[i][j] %>
                  </a>
                <% } %>
                </p>
              <% } %>
            </div>
          </div>
        </div>

        <div class="col-xs-6">
          <div class="row pull-keys">
            <div class="col-xs-12">
              <h2>Abrindo</h2>
            </div>
            <div class="left-hand col-xs-6">
              <% for(var i = 0; i < pull.leftHand.length; i++) { %>
                <p>
                <% for(var j = 0; j < pull.leftHand[i].length; j++) { %>
                  <a href="#" class="midi-<%= keys[pull.leftHand[i][j]] %> btn btn-default">
                    <%= pull.leftHand[i][j] %>
                  </a>
                <% } %>
                </p>
              <% } %>
            </div>
            <div class="right-hand col-xs-6">
              <% for(var i = 0; i < pull.rightHand.length; i++) { %>
                <p>
                <% for(var j = 0; j < pull.rightHand[i].length; j++) { %>
                  <a href="#" class="midi-<%= keys[pull.rightHand[i][j]] %> btn btn-default">
                    <%= pull.rightHand[i][j] %>
                  </a>
                <% } %>
                </p>
              <% } %>
            </div>
          </div>
        </div>

      </div>
    </script>

    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!-- build:js scripts/main.js -->
    <script data-main="scripts/main" src="bower_components/requirejs/require.js"></script>
    <!-- endbuild -->
  </body>
</html>
